<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>3 março de 2013 </ion-card-subtitle>
      <ion-card-title>Vikings</ion-card-title>

      <p> </p>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mBDlsOhNOV1MkNii81aT14EYQ4S.jpg" />
      <p> Inspirada na história e nas lendas da Escandinávia medieval, “Vikings” acompanha Ragnar Lothbrok, um jovem que se considera descendente de Odin, guerreiro e agricultor, guiado pela ambição e coragem até um destino grandioso.</p>
       <ion-button expand="block" fill="outline">Mais Informações</ion-button>

    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>12 setembro 2013 </ion-card-subtitle>
      <ion-card-title>Peaky Blinders</ion-card-title>

      <p> </p>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jeWoeUQyHdxGFNZCrzbOUP78FiZ.jpg" />
      <p> Criada por Steven Knight com base na história real da família Shelby, a série acompanha a vida de Tommy Shelby, líder de uma família que vive de assaltos, extorsões, apostas e mercado negro. Após a 1ª Guerra Mundial, eles tentam restabelecer seu domínio na região. Mas eles enfrentam C.I. Campbell, o novo chefe de polícia recém-chegado de Belfast que está determinado a limpar as ruas de Birmingham dos criminosos e revolucionários.</p>
       <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>