<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1> Sonic: O Filme</h1>
        <h2> 12 de Fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p> Baseado no videojogo da Sega, sucesso à escala global, SONIC – O FILME conta a história do ouriço mais
          rápido do mundo a partir do momento em que este chega à sua nova casa – o planeta Terra. Nesta comédia e
          aventura live-action, Sonic e o seu novo melhor amigo Tom juntam-se para defender o planeta do génio do mal, o
          Dr. Robotnik, e dos seus planos para domínio do mundo.</p>
        <ion-button expand="block" fill="outline">Mais Informações</ion-button>
      </ion-col>

        <ion-col size="6">
          <h1> Coração de Ferro</h1>
          <h2> 25 de maio de 2017</h2>
          <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fcbc9eryrsnOgVrUZREXjxfnim4.jpg" />
          <p> A ascensão meteórica de Reinhard Heydrich, até se tornar um dos principais líderes do regime Nazi, foi tão
            furiosa e implacável quanto os horrores que infligiu aos povos europeus antes e durante a Segunda Guerra
            Mundial. Iniciado na ideologia Nazi pela sua esposa, Lina - uma aristocrata que o acompanhou durante a
            ascensão ao poder, Heydrich foi o principal arquiteto da "Solução Final" e uma força imparável. Contudo, um
            pequeno grupo da Resistência Checa, treinado pelos Britânicos e dirigido por membros exilados do governo
            checoslovaco, procurava parar o imparável. Num ato ousado, paraquedistas liderados por Jan Kubiš e Jozef
            Gabcík atacaram Heydrich, enquanto este passava numa rua de Praga, causando-lhe ferimentos fatais. Reinhard
            Heydrich tornou-se assim o oficial de maior patente a ser morto durante a Segunda Guerra Mundial.</p>
          <ion-button expand="block" fill="outline">Mais Informações</ion-button>
        </ion-col>

        <ion-col size="6">
          <h1> Operacao Valquiria</h1>
          <h2> 25 de dezembro de 2008</h2>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/4i1ntYZun1Aia7SGRamJTk8Vnth.jpg" />
          <p>Claus von Stauffenberg, um coronel do Exército Alemão que foi ferido nos combates no Norte de África,
            regressa a Berlim e torna-se o líder uma improvável conspiração de altos oficiais militares para assassinar
            Adolph Hitler, dissolver as SS, devolver a liberdade aos alemães e acabar com a Segunda Guerra Mundial.</p>
          <ion-button expand="block" fill="outline">Mais Informações</ion-button>
        </ion-col>


        <ion-col size="6">
          <h1> Perdido em Marte </h1>
          <h2> 30 setembro 2015</h2>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qBstVAwCZMxSupZgQgRerIzBcPA.jpg" />
          <p>Durante uma missão tripulada a Marte, o Astronauta Mark Watney é dado como morto após uma tempestade e
            deixado para trás pela sua tripulação. Mas Watney sobreviveu e encontra-se preso e só num planeta hostil.
            Com escassos mantimentos, ele terá que contar com a sua criatividade, inteligência e espírito de
            sobrevivência para encontrar uma maneira de enviar para a Terra um sinal de que está vivo. A milhões de
            quilómetros de distância, a NASA e uma equipa de cientistas internacionais trabalham incansavelmente para
            trazer Watney de volta, enquanto, simultaneamente os seus colegas de tripulação planeam uma ousada – se não
            impossível – missão de resgate. Com a revelação destas histórias de incrível coragem, o mundo une-se por uma
            causa – o seguro regresso de Watney.</p>
          <ion-button expand="block" fill="outline">Mais Informações</ion-button>
        </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>